<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>KeepLibrary</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet"/>
    <link href="~/Content/Site.css" rel="stylesheet"/>
    <link href="~/Content/Logo.css" rel="stylesheet"/>
@*    <link href="~/Content/BorderFixed.css" rel="stylesheet" />*@
    <link href="~/Content/Validation.css" rel="stylesheet"/>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
</head>

<body>

<div class="Title__Logo__Block">
    <div class="logo___style___text">
        <span class="logo___text___Content">@Html.ActionLink("KeepLibrary", "Index", "Home", null, new {@class = "logo___text___Content"})</span>
    </div>
    <div class="logo___subText">
        Created by Ihor Polianskyi
    </div>
</div>

@if (TempData["m"] != null)
{
    <div class="alert alert-success alert__custom__margin">@TempData["m"]</div>
}
else if (TempData["e"] != null)
{
    <div class="alert alert-warning alert__custom__margin">@TempData["e"]</div>
}
@RenderBody()
<script src="~/Scripts/FooterFixedHelperJQuery.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
</body>
</html>